@charset "utf-8";

/* colors */
html {
    background-color: white;
}
body > header {
    background-color: gray;
}
body > nav > ul > li {
    background-color: blue;
}

/* layout */
ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}
li {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    font-size: 25px;
    color: grey;
}
header {
    font-size: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
body p {
    margin-top: 10%;
    margin-left: 5%;
    width: 75%;
    box-sizing: border-box;
    display: block;
}